$bleu1-color: #96c5dc; 
$bleu2-color: #1078ad;  
$yellow-color: #f4cf1b;
$white-color: #fff;
$black-color: #000;
$green-color: #369d53;
$grey:#7F7F7F;
$bleu-color: #D0E5F0;
$bleu-ciel-color:#D0E5F0;
$bleu-clear-color:#1A519E;